.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f9f9f9;
}

.react-chatbot-kit-chat-container {
  width: 400px !important;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 0 !important;
}